name: Update AoC Badges
on:
    schedule:
        - cron: "6 5 1-25 12 *" # from the 1. December till 25. December every day at 5:06am (avoid load at full hours)
    push:
        branches:
            - main
    workflow_dispatch: # allow to manually start the workflow

jobs:
    update:
        matrix:
            year: [2022]

        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - uses: joblo2213/aoc-badges-action@v3
              with:
                  userid: ${{ secrets.AOC_ID }}
                  session: ${{ secrets.AOC_SESSION }}
                  year: ${{ matrix.year }}
                  starsRegex: '(?<=https:\/\/img\.shields\.io\/badge\/stars%20${{ matrix.year }}%20â­-)[0-9]+(?=-yellow)'

            - uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: Update badges
                  file_pattern: README.md
